project_name="test_name"
sequence_type="single" # single # for paired-end need to change the scripts manually

## parameter used by HTSeq; is data strand specific ? 
stranded="yes" ## yes|reverse|no

## sortmerna parameter
sortMeRNA_ref="$WRKDIR/DONOTREMOVE/Mouse_genome/rRNA_operon/Mouse_ribosomal_operon.fasta"

## STAR aligner parameter
maxReadLength= # this parameter should be set after finishing the QC

## parameter used by STAR and HTSeq
genome_file="$WRKDIR/DONOTREMOVE/Mouse_genome/Mus_musculus_GRCm38.fa"
gene_annotation="$WRKDIR/DONOTREMOVE/Mouse_genome/Mus_musculus.GRCm38.79.gtf"

## parameter used by TopHat / Cufflinks / Cuffdiff; 
library_type = "fr-secondstrand" #  fr-secondstrand|fr-firststrand|fr-unstranded 
