project_name="test_name"  #no spaces in the project name!
sequence_type="single" # single # for paired-end need to change the scripts manually

export PROJAPPL=/projappl/<project_id>/<user_name>/ 

## Path to AfterQC directory
AfterQC="/scratch/dasroy/AfterQC-master"

## parameter used by HTSeq; is data strand specific ? 
stranded="yes" ## yes|reverse|no

## sortmerna parameter
sortMeRNA_ref="/projappl/dasroy/dasroy/Mouse_genome/rRNA_operon/Mouse_ribosomal_operon.fasta"

## STAR aligner parameter
maxReadLength=76 # this parameter should be set after finishing the QC

## parameter used by STAR and HTSeq
genome_file="/projappl/dasroy/dasroy/Mouse_genome/Mus_musculus_GRCm38.fa"
gene_annotation="/projappl/dasroy/dasroy/Mouse_genome/Mus_musculus.GRCm38.79.gtf"

## parameter used by TopHat / Cufflinks / Cuffdiff; 
library_type="fr-secondstrand" #  fr-secondstrand|fr-firststrand|fr-unstranded 
