## SLURM info
email=""
account=""  # the billing project for the job. This argument is mandatory
export PROJAPPL="" # optional

#Project info
project_name="Rat"  #no spaces in the project name!
sequence_type="single" # single # for paired-end need to change the scripts manually

## Path to AfterQC directory
AfterQC="/scratch/dasroy/AfterQC-master"

## sortmerna parameter
# Now path to a directory containing single or multiple reference fasta file
# If the fasta files are not indexed then
# the program will create the indexed file(s) in the same directory
##
sortMeRNA_ref="/projappl/dasroy/dasroy/sortmerna_rRNA_database"

# Salmon
### To get gene-level summarization transcript ids should match exactly
# in below files. In ensembl most of the time there are version number in the transcript ids which can be removed using following command
# >> sed -i 's/\.[0-9]\+ / /' Mus_musculus.GRCm38.cdna.all.fa
#### 
transcripts="Mus_musculus.GRCm38.cdna.all.fa"
gene_annotation="Mus_musculus.GRCm38.99.gtf"

###
# If you are using the automated pipelines then above fields are sufficient
#
# No need to feel below fields if you are not using the corresponding tools explicitly
#
###


## STAR aligner parameter
maxReadLength=76 # this parameter should be set after finishing the QC

## parameter used by STAR and HTSeq
genome_file="/projappl/dasroy/dasroy/Mouse_genome/Mus_musculus_GRCm38.fa"

## parameter used by TopHat / Cufflinks / Cuffdiff; 
library_type="fr-secondstrand" #  fr-secondstrand|fr-firststrand|fr-unstranded 

## parameter used by HTSeq; is data strand specific ? 
stranded="yes" ## yes|reverse|no
