  
project_name="RNAseq_QL_1st_Round"  #no spaces in the project name!
sequence_type="single" # single # for paired-end need to change the scripts manually

## parameter used by HTSeq; is data strand specific ? 
stranded="reverse" ## yes|reverse|no

## sortmerna parameter
sortMeRNA_ref="$HOME/rRNA_databases/rRNA_all.fasta"
index_files="$HOME/rRNA_db_idx/idx" ##must be the idx folder where the sortmerna V4 generated in the first runing.

##add trimmmomatic pathway
trimmo_path="$HOME/Trimmomatic-0.39/trimmomatic-0.39.jar"

## STAR aligner parameter
maxReadLength=76 # this parameter should be set after finishing the QC

## parameter used by STAR and HTSeq
genome_file="$HOME/mouse_genome_release_98/Mus_musculus.GRCm38.dna.primary_assembly.fa"
gene_annotation="$HOME/mouse_genome_release_98/Mus_musculus.GRCm38.98.gtf"

## parameter used by TopHat / Cufflinks / Cuffdiff; 
library_type="fr-secondstrand" #  fr-secondstrand|fr-firststrand|fr-unstranded 